body {
   /* Location of the image */
   background-image: url(/images/spotify-background.jpeg);
   /* Image is centered vertically and horizontally at all times */
   background-position: center center;
   /* Image doesn't repeat */
   background-repeat: no-repeat;
    
    
  /*Hace que la imagen sea fija en la ventana gráfica para que no se mueva cuando
       la altura del contenido es mayor que la altura de la imagen */
   background-attachment: fixed;
    
   /* This is what makes the background image rescale based on its container's size */
   background-size: cover;
    
   /* Pick a solid background color that will be displayed while the background image is loading */
   background-color:#464646;
    
    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */
}
