
   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="utf-8">
        <title>Buscar</title>
        <link rel="stylesheet" href="stylesheet/styles.css">
        <link rel="stylesheet" href="stylesheet/responsive-full-background-image.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
      
   </head>
   <body class="bodyImg">
      
       <div class="container">
            
            <form action="/artist-search" method="GET">
            <input type="text" name="buscar" size="30">
            <input type="submit" value="Buscar artista">
    
        </div>

   </body>
   </html>

    