<h1>Escucha musica</h1>

{{#each items}}
    <ul class="caja">
       <div class="caja">
           <audio src="{{preview_url}}" controls></audio> 
           <p>{{name}} </p>
       </div>   
    </ul>   
{{/each}}